/out
/mcu/doc
/dsp/doc
/mapping_disk
/mcu/tools/pc_tool/
/mcu/tools/scripts/build/PostBuildTool/windows/FileManagement.xml
/mcu/tools/scripts/build/PostBuildTool/windows/FileSystem/
/mcu/tools/scripts/build/PostBuildTool/windows/PostBuildTool.exe
/mcu/tools/scripts/build/PostBuildTool/windows/filesystem.bin
/mcu/tools/headset_app_android_eng
/mcu/tools/headset_app_ios_eng
/mcu/tools/headset_app_windows_eng
