/out
/mcu/doc
/dsp/doc
/mapping_disk
/mcu/tools/mapping_proj
/mcu/tools/pc_tool/IOT_Flash_Tool/win/Airoha_Flash_Tool_v1.0.22.0/
/mcu/tools/pc_tool/IOT_Flash_Tool/win/Airoha_Flash_Tool_v1.0.22.0/
/mcu/tools/pc_tool/atk/ab158x/AB158x_Airoha_Tool_Kit(ATK)_v3.9.0.3/
/mcu/tools/pc_tool/ept/ept_for_BTA_v2.9.13_20230623/
/mcu/tools/scripts/build/PostBuildTool/windows/FileManagement.xml
/mcu/tools/scripts/build/PostBuildTool/windows/FileSystem/
/mcu/tools/scripts/build/PostBuildTool/windows/PostBuildTool.exe
/mcu/tools/scripts/build/PostBuildTool/windows/filesystem.bin
/mcu/tools/headset_app_android_eng
/mcu/tools/headset_app_ios_eng
/mcu/tools/headset_app_windows_eng
/mcu/tools/scripts/build/AutoGenDownloadCfg/windows/AutoGenDownloadCfg.exe
/mcu/tools/scripts/build/PostBuildTool/windows/mediaFiles2bin.exe
/mcu/tools/scripts/build/PostBuildTool/windows/nvdm_post_build.exe
/mcu/tools/scripts/build/lm_bin_generator/windows/gen_lm_tool.exe
/mcu/tools/scripts/build/parse_dump_id_bin/windows/parse_dump_id.exe
/1585hear.*
