<?xml version="1.0" encoding="utf-8"?>

<!--
    Description
    state:
        Indicate the related LM space (flash) status.
        0x00: Idle, means ready to read or write, in the configure file, MUST ONLY be this state.
        0x01: Writing, means the space is writing now.
        0x02: Reading, means the space is reading now.
    model_type:
        Indicate the related LM space belong to which Voice Assistant.
        0x00: For AMA.
        0x01: For GVA.
        Others: Not acceptable.
    model_running:
        Indicate the related LM is default running one or not.
        For target VA, MUST ONLY 1 LM model running, otherwise, will get the first match running one.
        0x00: Not running.
        0x01: Default running one.
    purpose:
        Indicate the related LM what purpose used for.
        0x00: WWE usage, can be written by updating flow.
        0x01: Updating usage, can be written by updating flow.
        0x02: Default usage, MUST NOT be written or any change to this LM.
    space_length:
        Indicate the related LM flash length to fill in, including the LM and the reserved space.
        MUST be formated with Hexadecimal, and start with 0x.
    model_version:
        Indicate the related LM version.
    model_file:
        Indicate the related LM file to fill in the space.
-->

<lm_configuration>

<version>0.0.1.50</version>

<magic_num>LM PARTITION</magic_num>

<partition name="ROM_LM_GVA">
    <item language="en_all">
        <state>0x00</state>
        <model_type>0x01</model_type>
        <model_running>0x01</model_running>
        <purpose>0x02</purpose>
        <space_length>0x11000</space_length>
        <model_version>0.1.2.3</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/gsound/ab158x/en_all.tflite</model_file>
    </item>
    <item language="universal">
        <state>0x00</state>
        <model_type>0x01</model_type>
        <model_running>0x00</model_running>
        <purpose>0x00</purpose>
        <space_length>0x11000</space_length>
        <model_version>0.1.2.3</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/gsound/ab158x/universal.tflite</model_file>
    </item>
    <item language="">
        <state>0x00</state>
        <model_type>0x01</model_type>
        <model_running>0x00</model_running>
        <purpose>0x01</purpose>
        <space_length>0x11000</space_length>
        <model_version>0.1.2.3</model_version>
        <!-- <model_file></model_file> -->
    </item>
</partition>

<partition name="ROM_LM_AMA">
    <!-- <item language="de-DE">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.de-DE.alexa.bin</model_file>
    </item>
    <item language="en-CA">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.en-CA+en-US.alexa.bin</model_file>
    </item>
    <item language="en-IN">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.en-IN.alexa.bin</model_file>
    </item>
    <item language="es-ES">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.es-ES.alexa.bin</model_file>
    </item> -->
    <item language="es-US">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x01</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.es-US.alexa.bin</model_file>
    </item>
    <item language="it-IT">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.it-IT.alexa.bin</model_file>
    </item>
    <item language="ja-JP">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WR_50k.ja-JP.alexa.bin</model_file>
    </item>
    <item language="en-AU">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.en-AU.alexa.bin</model_file>
    </item>
    <!-- <item language="en-GB">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.en-GB.alexa.bin</model_file>
    </item>
    <item language="es-MX">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.es-MX.alexa.bin</model_file>
    </item>

    <item language="fr-CA">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.fr-CA.alexa.bin</model_file>
    </item>
    <item language="fr-FR">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.fr-FR.alexa.bin</model_file>
    </item>
    <item language="pt-BR">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x02</purpose>
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.pt-BR.alexa.bin</model_file>
    </item>
    For reserved LM item, this item will not be inclued into the lm.bin, but the space is reserved
    <item language="">
        <state>0x00</state>
        <model_type>0x00</model_type>
        <model_running>0x00</model_running>
        <purpose>0x01</purpose> If wish to add a new item, maybe need change this value to be 0x01 or 0x02
        <space_length>0xF000</space_length>
        <model_version>0.1.2.4</model_version>
        <model_file>../../../../../prebuilt/middleware/third_party/language_model/ama/WS_50k.pt-BR.alexa.bin</model_file>
    </item> -->
</partition>
</lm_configuration>
